/* MAIN GLOW COLORS AND EFFECTS */

.glow--blue {
  color: #009eff;
  -webkit-animation: glow--blue 1s ease-in-out infinite alternate;
  -moz-animation: glow--blue 1s ease-in-out infinite alternate;
  animation: glow--blue 1s ease-in-out infinite alternate;
}
@keyframes glow--blue {
  from {
    text-shadow: 0 0 10px #7ea0ff, 0 0 20px #225dff, 0 0 30px #225dff,
      0 0 40px #225dff;
  }
  to {
    text-shadow: 0 0 10px #1d46fc, 0 0 20px #1d46fc, 0 0 30px #1d46fc;
  }
}

.glow--red {
  color: #ff5a44;
  -webkit-animation: glow--red 1s ease-in-out infinite alternate;
  -moz-animation: glow--red 1s ease-in-out infinite alternate;
  animation: glow--red 1s ease-in-out infinite alternate;
}
@keyframes glow--red {
  from {
    text-shadow: 0 0 10px #fc8787, 0 0 20px #ff0000, 0 0 30px #ff0000,
      0 0 40px #ff0000;
  }
  to {
    text-shadow: 0 0 10px #fc3e1d, 0 0 20px #fc3e1d, 0 0 30px #fc3e1d;
  }
}

.glow--green {
  color: #17c700;
  -webkit-animation: glow--green 1s ease-in-out infinite alternate;
  -moz-animation: glow--green 1s ease-in-out infinite alternate;
  animation: glow--green 1s ease-in-out infinite alternate;
}
@keyframes glow--green {
  from {
    text-shadow: 0 0 10px #65e23f, 0 0 20px #29ac01, 0 0 30px #29ac01,
      0 0 40px #29ac01;
  }
  to {
    text-shadow: 0 0 10px #129900, 0 0 20px #129900, 0 0 30px #129900;
  }
}

.glow--yellow {
  color: #ffee00;
  -webkit-animation: glow--yellow 1s ease-in-out infinite alternate;
  -moz-animation: glow--yellow 1s ease-in-out infinite alternate;
  animation: glow--yellow 1s ease-in-out infinite alternate;
}
@keyframes glow--yellow {
  from {
    text-shadow: 0 0 10px #ffea71, 0 0 20px #cab332, 0 0 30px #cab332,
      0 0 40px #cab332;
  }
  to {
    text-shadow: 0 0 10px #cea800, 0 0 20px #cea800, 0 0 30px #cea800;
  }
}


